@import 'https://fonts.googleapis.com/css?family=Scope+One|Raleway';
body {
    background-color: #1c1f26;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #961227;
}
header {
    background-color: #010712;
}
h1 {
    margin-top: 0;
    padding: 20px 0 5px 0;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Scope One', serif;
    text-shadow: 1px 1px #24262D;
}
nav li {
    display: inline;
}
a {
    text-decoration: none;
}
nav li a {
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    background-color: #010712;
    box-shadow: 1px 1px #24262d;
    margin: 1px;
    border-radius: 3px;
    color: #961227;
}
nav a:hover {
    font-weight: bolder;
    margin: 0;
    border: 1px solid #961227;
}
nav a:active {
    transform: translate(1px 1px);
    font-weight: bolder;
    box-shadow: none;
}
.description {
    width: 65%;
    margin: 0 auto;
    background-color: #13171f;
    padding: 20px;
}
p {
    padding: 0;
    margin: 0;
}
.description img {
    width: 30%;
    height: auto;
    float: left;
}
.description p {
    text-align: left;
    display: inline;
    font-size: 1.2rem;
    line-height: 1.618;
}
footer {
    background-color: #010712;
    min-height: 30px;
}
.footer {
    padding: 5px;

}





/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
